@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

:root {
    --rem-1px: 0.06rem;
    --rem-2px: 0.125rem;
    --rem-4px: 0.25rem;
    --rem-6px: 0.375rem;
    --rem-8px: 0.5rem;
    --rem-10px: 0.625rem;
    --rem-12px: 0.75rem;
    --rem-14px: 0.875rem;
    --rem-16px: 1rem;
    --rem-20px: 1.25rem;
    --rem-24px: 1.5rem;
    --rem-32px: 2rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
